Database.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT database (table*)>
<!ELEMENT table (tableName, fields)>
<!ELEMENT tableName (#PCDATA)>
<!ELEMENT fields (field+)>
<!ELEMENT field (fieldName, fieldType, fieldSize, binaryTree)>
<!ELEMENT fieldName (#PCDATA)>
<!ELEMENT fieldType (#PCDATA)>
<!ELEMENT fieldSize (#PCDATA)>
<!ELEMENT binaryTree (#PCDATA)>
